form {
  width: 40%;
  margin: 40px auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
  background: #181818;
  padding: 20px;
  border-radius: 12px;
}

input {
  padding: 10px;
  border: none;
  border-radius: 6px;
  outline: none;
}

button {
  background: #1db954;
  border: none;
  padding: 10px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: bold;
}

button:disabled {
  background: gray;
  cursor: not-allowed;
}

img {
  border-radius: 10px;
  margin-top: 10px;
}
